#p1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(114, 34, 139);
}
#p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(0, 49, 211);
}